/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

@import './element-colors.scss';

$--table-border: 1px solid#dfe6ec;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// element 样式修改

// inoput
$--input-height: 32px;
$--input-medium-height: 32px;

//button
$--button-padding-vertical: 8px;
$--button-medium-padding-vertical: 8px;
$--button-small-padding-vertical: 8px;

//table
$--table-header-font-color: rgba(0, 0, 0, 0.85);
$--table-header-background-color: #fafafa;

//tree

@import '~element-ui/packages/theme-chalk/src/index';

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
