// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

$navBarHeight: 64px;

// sidebar
// $menuText: #bfcbd9;
// $menuActiveText: #409eff;
// $subMenuActiveText: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951
$menuText: #ffffffa6;
$menuActiveText: #fff;
$subMenuActiveText: #fff; // https://github.com/ElemeFE/element/issues/12951
$menuHoverText: #fff;

$mainBg: #f1f2f5;

// $menuBg: #304156;
// $menuHover: #263445;
$menuBg: #061528;
$menuHover: #061528;

$subMenuBg: #030c16;
$subMenuHover: #030c16;

$sideBarWidth: 256px;

$sideBarLogoHeight: $navBarHeight;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuHoverText: $menuHoverText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  mainBg: $mainBg;
  sideBarLogoHeight: $sideBarLogoHeight;
  navBarHeight: $navBarHeight;
}
